#fha{
    margin: 5% 0 0 40%;
    padding: 0 20px; 
    text-align: center; 
    border: 2px solid black; 
    width: max-content;
    border-radius: 20px;
}

#time{
    margin: 5% 0px 0px 30%;
    padding: 15px 200px; 
    text-align: center; 
    border: 2px solid black; 
    width: max-content;
    font-size: 32px;
    font-weight: bold;
    border-radius: 20px;
}

#h21{
    margin: 10px 0px 0px 45%;
}

#time2{
    margin: 0 0px 0px 30%;
    padding: 15px 200px; 
    text-align: center; 
    border: 2px solid black; 
    width: max-content;
    font-size: 32px;
    font-weight: bold;
    border-radius: 20px;
}