<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">   
</head>
<body>
    <div style="margin: 5% 0 0 40%; text-align: center; border: 2px solid black; width: max-content">
        <h2>Fecha y hora actual:</h2>
        <br>
    </div>
    <div style="margin: 5% 0 0 40%; text-align: center; border: 2px solid black; width: max-content">
        {% for aux in time %}
        <p>{{aux}}</p>
        {% endfor %}
    </div>
</body>
</html>