<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h3>Numero de palabras generadas: {{cuenta}}</h3>
        <h3>Palabra al azar: {{palabra}}</h3>
        <button ><a href="/generar">Generar</a></button>
        <button><a href="/limpiar">Limpiar</a></button>
    </body>
</html>