<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Estudiantes</title>
    </head>
    <body>
        <form action="resultado.html" method="POST">
            <table>
                <tr>
                    <td>Nombre</td>
                    <td><input type="text" name="nombre"></td>
                </tr>
                <tr>
                    <td>Apellido</td>
                    <td><input type="text" name="apellido"></td>
                </tr>
                <tr>
                    <td>RUT</td>
                    <td><input type="text" name="rut"></td>
                </tr>
                <tr>
                    <td>Edad</td>
                    <td><input type="text" name="edad"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="reset" name="limpiar">
                        <input type="submit" name="enviar">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>